.entries-wrapper {
    width: 100%;
    padding-left: 20px;
}

.entry-category-tabs-wrapper {
    display: flex;
    flex-direction: row;
    height: 5em;
    width: 100%;

    margin-top: 1em;
}

.entry-category-tab {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: x-large;
    font-weight: bold;

    padding: 1.5em;
}

.entry-category-tab:hover {
    background-color: #e1e1eb;
    color: #14142e;

    cursor: pointer;
}

.entry-category-box {
    width: 100%;
}

.entry-category-box > hr {
    color: #e1e1eb;
}

.entry-category-label {
    width: 100%;

    font-size: x-large;

    padding: 1.5em 3em 0.8em 1em;
}

.entry-grid-container.reading {
    width: 90%;
    display: grid;

    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: row;
}

.entry-grid-container.listening-srs {
width: 90%;
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
}
.entry-grid-container > div {
    background-color: #e1e1eb;
    color: #14142e;

    font-size: large;
    font-weight: bold;

    border-bottom: 1px solid #14142e;
    padding: 0.2em 0.5em;
}

#listening, #srs {
    display: none;
}
