.delete-wrapper {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: large;
}

.delete-box {
    display: flex;
    flex-direction: column;

    padding: 2em;

    border-radius: 8px;

    background-color: #e1e1eb;
    color: #14142e;
}
