.goals-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 85%;
    overflow-y: auto;
    overflow-x: hidden;
}

.goal-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.goal-card {
    height: 250px;
    width: 200px;

    background-color: #e1e1eb;
    color: #14142e;

    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 2px 5px black;

    margin: 2em;
    padding: 1em;
}

.card-attr-label {
    font-size: large;
    font-weight: bold;
}

.card-attr {
    margin: 0.5em 0;
}

.goal-creation-button {
    height: 250px;
    width: 200px;

    margin: 2em;
    padding: 1em;
}

.goal-creation-button > a {
    font-size: 50px;
}
