header, footer {
    background-color: #e1e1eb;
    color: #14142e;
    font-size: larger;
    font-family: "Roboto Light", sans-serif;
    font-weight: bold;

    text-transform: uppercase;

    height: 60px;

    box-shadow: 1px 0 1px black;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer {
    justify-content: end;
    padding-right: 2em;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.header-nav {
    margin: 1em 0 1em 0;
    padding: 0 1em 0 1em;

    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.header-nav > li {
    padding: 0.5em 0.8em 0.5em 0.8em
}

.header-nav > li:hover {
    background-color: #4f3f66;
}

.go-to-index-btn {
    flex: 0;
    padding: 0.5em 1em 0.5em 1em;
    margin-right: 0.5em;
    border-right: 0.1em solid #f1f6f0;
}

.go-to-index-btn:hover {
    background-color: #4f3f66;
}