header, footer {
    background-color: #e1e1eb;
    color: #14142e;
    font-size: larger;
    font-family: "Roboto Light", sans-serif;
    font-weight: bold;

    text-transform: uppercase;

    height: 60px;

    box-shadow: 1px 0 1px black;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer {
    height: 40px;
    justify-content: end;
    padding-right: 2em;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex: 1;
}

.header-nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;

    margin: 0 1em;
}

.header-nav-button {
    display: flex;
    align-items: center;
    padding: 0.5em 0.8em;
    gap: 5px;

    border-radius: 8px;
}

.header-nav-button:hover {
    background-color: #d0d0d9;
}

.header-nav-button > img {
    height: 1.5em;
}

.go-to-index-btn:hover {
    background-color: #d0d0d9;
}

.go-to-index-btn > img {
    height: 1.5em;
}

.sidebar {
    width: 15%;
    flex-shrink: 0;

    background-color: #38761d;
    border: 1px solid black;
    font-size: large;
    font-family: "Roboto Light", sans-serif;
    font-weight: bold;
}

.sidebar > ul {
    list-style-type: none;
    text-transform: uppercase;
}

.sidebar-button-wrapper {
    display: flex;
}

.sidebar-link {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    gap: 0.25em;
}

.sidebar-link > img {
    box-sizing: border-box;
    height: 2em;
    margin-left: 3em;
}

.sidebar-button {
    width: 100%;
    height: 3em;
    line-height: 3em;
    text-align: center;
}

.sidebar-button > a {
    display: block;
    height: 100%;
}

.sidebar-button:hover {
    background-color: #34661e;
}

ul {
    padding: 0;
    margin: 0;
}
