body {
    background-color: #2d2d3b;
    color: #FCF7FF;

    height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.base-wrapper {
    flex: 1;
    display: flex;
    overflow-y: auto;
}

html {
    overflow: hidden;
}