body {
    background-color: #2E2836;
    color: #FCF7FF;

    height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}