{% extends 'base.html' %}

{% block main_content %}
    {% for media in readingmedia %}
        <p> {{ media }} </p>
        <a href="{% url 'reading_media_details' pk=media.pk %}">Details</a>
    {% endfor %}
    <p><a href="{% url 'reading_media_create' %}"> New reading media </a></p>

    {% for media in listeningmedia %}
        <p> {{ media }} </p>
        <p><a href="{% url 'listening_media_details' pk=media.pk %}">Details</a></p>
    {% endfor %}
    <a href="{% url 'listening_media_create' %}">New Listening Media</a>
{% endblock %}
