{% extends 'base.html' %}

{% block main_content %}
    <div class="languages-wrapper">
        <div class="current-language-display">
            <h1>Current Language:</h1>
            <p> {{ current_language.name }}</p>
        </div>
        <div class="other-languages-display">
            <h2>Other Languages:</h2>
            {% for lang in languages %}
                {% if request.user.profile.current_language != lang %}
                    <p> {{ lang.name }} - 
                        <a href="{% url 'language_change_current' pk=lang.pk %}"> Set as current </a>
                        <a href="{% url 'language_delete' pk=lang.pk%}"> Delete </a>
                {% endif %}
            {% endfor %}
            <div class="create-new-content">
                <a href="{% url 'language_create' %}">+</a>
            </div>
        </div>
    </div>
{% endblock %}