{% extends 'base.html' %}


{% block main_content %}
<div class="entries-wrapper">
    <div class="category-tabs-wrapper">
        <div class="category-tab">Reading</div>
        <div class="category-tab">Listening</div>
        <div class="category-tab">SRS</div>
    </div>
    <div class="entry-category-box" id="reading">
        <div class="category-label"> Reading Entries </div>
        <hr>
        <div class="entry-grid-container reading">
            <div class="entry-grid"> Date </div>
                <div class="entry-grid"> Length </div>
                <div class="entry-grid"> Characters </div>
                <div class="entry-grid"> Media </div>
                <div class="entry-grid"> Options </div>
            {% for entry in readingentry %}
                <div class="entry-grid"> {{ entry.created_on }}</div>
                <div class="entry-grid"> {{ entry.time_length }}</div>
                <div class="entry-grid"> {{ entry.char_length }}</div>
                <div class="entry-grid"> {{ entry.media }}</div>
                <div class="entry-grid">
                    <a href="{% url 'reading_entry_details' pk=entry.pk %}"> Details </a>
                    <a href="{% url 'reading_entry_edit' pk=entry.pk %}"> Edit </a>
                    <a href="{% url 'reading_entry_delete' pk=entry.pk %}"> Delete </a>
                </div>
            {% endfor %}
        </div>
        <div class="create-new-content">
            <a href="{% url 'reading_entry_create' %}">+</a>
        </div>
    </div>
    <div class="entry-category-box" id="listening">
        <div class="category-label"> Listening Entries </div>
        <hr>
        <div class="entry-grid-container listening-srs">
            <div class="entry-grid entry-date"> Date </div>
                <div class="entry-grid entry-time-length"> Length </div>
                <div class="entry-grid entry-media"> Media </div>
                <div class="entry-grid entry-details"> Options </div>
            {% for entry in listeningentry %}
                <div class="entry-grid entry-date"> {{ entry.created_on }}</div>
                <div class="entry-grid entry-time-length"> {{ entry.time_length }}</div>
                <div class="entry-grid entry-media"> {{ entry.media }}</div>
                <div class="entry-grid entry-details">
                    <a href="{% url 'listening_entry_details' pk=entry.pk %}"> Details </a>
                    <a href="{% url 'listening_entry_edit' pk=entry.pk %}"> Edit </a>
                    <a href="{% url 'listening_entry_delete' pk=entry.pk %}"> Delete </a>
                </div>
            {% endfor %}
        </div>
        <div class="create-new-content">
            <a href="{% url 'listening_entry_create' %}">+</a>
        </div>
    </div>
    <div class="entry-category-box" id="srs">
        <div class="category-label"> SRS Entries </div>
        <hr>
        <div class="entry-grid-container listening-srs">
            <div class="entry-grid entry-date"> Date </div>
                <div class="entry-grid entry-time-length"> Length </div>
                <div class="entry-grid entry-new-cards"> New Cards </div>
                <div class="entry-grid entry-details"> Options </div>
            {% for entry in srsentry %}
                <div class="entry-grid entry-date"> {{ entry.created_on }}</div>
                <div class="entry-grid entry-time-length"> {{ entry.time_length }}</div>
                <div class="entry-grid entry-new-cards"> {{ entry.new_cards }}</div>
                <div class="entry-grid entry-details">
                    <a href="{% url 'srs_entry_details' pk=entry.pk %}"> Details </a>
                    <a href="{% url 'srs_entry_edit' pk=entry.pk %}"> Edit </a>
                    <a href="{% url 'srs_entry_delete' pk=entry.pk %}"> Delete </a>
                </div>
            {% endfor %}
        </div>
        <div class="create-new-content">
            <a href="{% url 'srs_entry_create' %}">+</a>
        </div>
    </div>
</div>
{% endblock %}
