<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Immersion Tracker</title>
</head>
<body>
    <div class="nav-bar">
        <div class="nav-bar-left"></div>
        <div class="nav-bar-right">
            <ul>
                {% if request.user.is_authenticated %}
                    <li><a href="#"> Profile </a></li>
                    <li><a href="#"> Logout </a></li>
                {% else %}
                    <li><a href="{% url 'login' %}"> Log In </a></li>
                    <li><a href="{% url 'register_account' %}"> Register </a></li>
                {% endif %}
                <li><img src="#" alt="prof-pic"></li>
            </ul>
        </div>
    </div>
    {% block main_content %}
    {% endblock %}
</body>
</html>