{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Immersion Tracker</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="{% url 'index' %}" class="header-nav header-nav-button">
            <img src="{% static 'icons/home.svg' %}" alt="icon-home">
            <span> Home </span>
        </a>
        <div class="navigation">
            <ul class="header-nav logout-and-language">
                {% if request.user.is_authenticated %}
                    <li>
                    <a class="header-nav-button" href="{% url 'languages_index' %}">
                        <img src="{% static 'icons/language.svg' %}" alt="icon-language">
                        <span>Current Language:
                            {% if request.user.profile.current_language %}
                                {{ request.user.profile.current_language.name }}
                            {% else %}
                                None
                            {% endif %}
                        </span>
                    </a>
                    </li>
                    <li>
                        <a class="header-nav-button" href="{% url 'logout' %}">
                            <img src="{% static 'icons/logout.svg' %}" alt="icon-logout">
                            <span> Logout </span>
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}" class="header-nav-button">
                            <img src="{% static 'icons/login.svg' %}" alt="icon-login">
                            <span> Log In </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'register_account' %}" class="header-nav-button">
                            <img src="{% static 'icons/register.svg' %}" alt="icon-register">
                            <span> Register </span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </header>
    <div class="base-wrapper">
    <div class="sidebar">
        <ul class="sidebar-buttons">
            {% if request.user.is_authenticated %}
                <li class="sidebar-button">
                    <div class="sidebar-button-wrapper">
                        <a class="sidebar-link" href="{% url 'all_media' %}">
                            <img class="sidebar-icon" src="{% static 'icons/media.svg' %}" alt="media-icon">
                            <span>media</span>
                        </a>
                    </div>
                </li>
                <li class="sidebar-button">
                    <div class="sidebar-button-wrapper">
                        <a href="{% url 'all_entries' %}" class="sidebar-link">
                            <img class="sidebar-icon" src="{% static 'icons/entry_text.svg' %}" alt="entry-icon">
                            <span> entries </span>
                        </a>
                    </div>
                </li>
                <li class="sidebar-button">
                    <div class="sidebar-button-wrapper">
                        <a href="{% url 'all_goals' %}" class="sidebar-link">
                            <img class="sidebar-icon" src="{% static 'icons/goal.svg' %}" alt="goal-icon">
                            <span> goals </span>
                        </a>
                    </div>
                </li>
                <li class="sidebar-button">
                    <div class="sidebar-button-wrapper">
                        <a href="{% url 'profile_details' pk=request.user.id %}" class="sidebar-link">
                            <img class="sidebar-icon" src="{% static 'icons/profile.svg' %}" alt="profile-icon">
                            <span> profile </span>
                        </a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
        {% block main_content %}
        {% endblock %}
    </div>
    <footer class="footer">
        <p class="credit">By Alex Gospodinov</p>
    </footer>
<script src="{% static 'js/entry_tabs.js' %}"></script>
</body>
</html>