{% extends 'base.html' %}

{% block main_content %}
    <div class="goals-wrapper">
        <div class="category-label"> Reading Goals </div>
        <div class='goal-cards'>
        {% for goal in readinggoal %}
            <div class="goal-card">
                <div class="card-attr">
                    <div class="card-attr-label"> Due: </div>
                    <div>{{ goal.due_date }}</div>
                </div>
                <div class="card-attr">
                    <div class="card-attr-label"> Time goal: </div>
                    <div>{{ goal.time_goal }}</div>
                </div>
                <div class="card-attr">
                    <div class="card-attr-label"> Character goal: </div>
                    <div>{{ goal.char_goal }}</div>
                </div>
                <div class="card-attr">
                    <div class="card-attr-label"> Current Status: </div>
                    <div>{{ goal.current_status }}</div>
                </div>

            </div>
        {% endfor %}
        </div>
        <div class="category-label"> Listening Goals </div>
        <div class='goal-cards'>
        {% for goal in listeninggoal %}
            <div class="goal-card">
                <div class="card-attr">
                    <div class="card-attr-label"> Due: </div>
                    <div>{{ goal.due_date }}</div>
                </div>
                <div class="card-attr">
                    <div class="card-attr-label"> Time goal: </div>
                    <div>{{ goal.time_goal }}</div>
                </div>
                <div class="card-attr">
                    <div class="card-attr-label"> Current Status: </div>
                    <div>{{ goal.current_status }}</div>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="category-label"> SRS Goals </div>
        <div class='goal-cards'>
        {% for goal in srsgoal %}
            <div class="goal-card">
                <div class="card-attr">
                    <div class="card-attr-label"> Due: </div>
                    <div>{{ goal.due_date }}</div>
                </div>
                <div class="card-attr">
                    <div class="card-attr-label"> New Cards goal: </div>
                    <div>{{ goal.new_cards_goal }}</div>
                </div>
                <div class="card-attr">
                    <div class="card-attr-label"> Current Status: </div>
                    <div>{{ goal.current_status }}</div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
